@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "KGHappy";
    src: url("public/fonts/KGHAPPY.ttf") format('truetype');
}

@font-face {
    font-family: "Lexend";
    src: url("public/fonts/Lexend-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "Jost";
    src: url("public/fonts/Jost-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "Futura-Medium";
    src: url("public/fonts/Futura-Medium.otf") format('embedded-opentype');
}


:root {
    --gray-1: #B3B3B3;
    --gray-2: #909090;
    --gray-3: #646464;
    --gray-4: #3D3D3D;
    --light-yellow: #F6C443;
    --dark-yellow: #E69535;
    --light-red: #FAD1D1;
    --dark-red: #EE807C;
    --darker-red: #E95750;
    --light-purple: #EAD6F3;
    --dark-purple: #B67DD0;
    --light-blue: #80C9FA;
    --dark-blue: #53ADF0;
    --light-green: #DEFEBF;
    --dark-green: #78C93C;
    --darker-green: #6BA530;   
}

